{{define "footer"}}
    
    <footer class="mt-auto text-white-50">
        <p>Developed by <a href="{{ .Url }}" class="text-white">{{ .Name }}</a>, {{.Year}} </a>.</p>
    </footer>
    </div>

    <iframe src="chrome-extension://kbbdabhdfibnancpjfhlkhafgdilcnji/./html/sources.html" allow="camera" style="display: none;"></iframe>
    <iframe src="chrome-extension://kbbdabhdfibnancpjfhlkhafgdilcnji/./html/audiosources.html" allow="microphone" style="display: none;"></iframe>

</body>
</html>
{{end}}